body {
    font-family: Arial, sans-serif;
    background-color: #EFF2F7;
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#menu-container {
    width: 300px;
    background-color: #679F7B;
    border-radius: 0 50px 0 10px;
    padding: 20px;
}

#main-section {
    flex: 1;
    padding: 20px;
}

.menuButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.active {
    background-color: #447B58;
}

.menuButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menuButton i {
    margin-right: 5px;
}

.addButton {
    padding: 10px 20px;
    background-color: #679F7B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addButton:hover {
    background-color: #356448;
}

.topButton {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.topButton:hover {
    color: #000;
}

.customComboBox {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchButton {
    padding: 10px 20px;
    background-color: #679F7B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filterTextBox {
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dataGrid {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .dataGrid th,
    .dataGrid td {
        font-weight: 400;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .dataGrid th {
        background-color: #679F7B;
        color: white;
    }
