@page
@model EmployeeManagementRazorPage.Pages.Account.AccessDeniedModel
@{
}
<div class="container d-flex justify-content-center align-items-center" style="height: calc(100vh - 117px);">
    <h1 class="text-center text-danger">Access Denied</h1>
</div>
