@page
@model EmployeeManagementRazorPage.Pages.ManagerPage.JobDetailsModel
@{
}
<div style="border-radius: 10px; background-color: #EFF2F7; padding: 0 0 0 0;">
    <div style="display: flex;">
        <partial name="_LeftMenu" />
        <!-- Main Section -->
        <div style="flex: 1; padding: 20px 0 0 0;">
            <div style="margin-top: 20px;">
                <table class="dataGrid">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Add data dynamically here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>    